Package: com.crkatri.eggnotch
Name: eggNotch
Depends: mobilesubstrate, ws.hbang.common, com.creaturesurvive.libcscolorpicker
Version: 0.0.2
Architecture: iphoneos-arm
Description: Hide the notch on notched iPhones, iOS 11? - 13
Maintainer: Egg aka CRKatri
Author: Egg aka CRKatri
Section: Tweaks
Depiction: https://crkatri.github.io/depictions/com.crkatri.eggNotch
