<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>PostNotification</key>
			<string>com.crkatri.eggNotch.prefsChanged</string> 
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>CSColorDisplayCell</string>
			<key>defaults</key>
			<string>com.crkatri.eggNotch</string>
			<key>defaultsPath</key>
			<string>/Library/PreferenceBundles/eggNotch.bundle</string>
			<key>key</key>
			<string>eggNotchColor</string>
			<key>label</key>
			<string>Notch Color</string>
            <key>fallback</key>
            <string>000000</string>
			<key>alpha</key>
			<false/>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.crkatri.eggNotch.prefsChanged</string> 
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>CSColorDisplayCell</string>
			<key>defaults</key>
			<string>com.crkatri.eggNotch</string>
			<key>defaultsPath</key>
			<string>/Library/PreferenceBundles/eggNotch.bundle</string>
			<key>key</key>
			<string>eggNotchTextColor</string>
			<key>label</key>
			<string>Status Bar Text Color</string>
            <key>fallback</key>
            <string>FFFFFF</string>
			<key>alpha</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.crkatri.eggNotch</string>
			<key>key</key>
			<string>alwaysShow</string>
			<key>label</key>
			<string>Always Show (Glitchy)</string>
			<key>PostNotification</key>
			<string>com.crkatri.eggNotch.prefsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.crkatri.eggNotch</string>
			<key>key</key>
			<string>smallCorners</string>
			<key>label</key>
			<string>Have small corner radius</string>
			<key>PostNotification</key>
			<string>com.crkatri.eggNotch.prefsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Apply Changes</string>
			<key>action</key>
			<string>respring</string>
		</dict>
	</array>
	<key>title</key>
	<string>eggNotch</string>
</dict>
</plist>
